<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SortStepServlet</servlet-name>
        <servlet-class>GraphController.SortStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStepServlet</servlet-name>
        <servlet-class>GraphController.SearchStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController</servlet-name>
        <servlet-class>Controller.CommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentController2</servlet-name>
        <servlet-class>Controller.CommentController2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsController</servlet-name>
        <servlet-class>Controller.NewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>Controller.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortStepServlet</servlet-name>
        <url-pattern>/SortStepServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Controller.DetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStepServlet</servlet-name>
        <url-pattern>/SearchStepServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController</servlet-name>
        <url-pattern>/newsdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentController2</servlet-name>
        <url-pattern>/CommentController2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/DeleteCommentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
