/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2020, 11:07:36 PM
    Author     : Asus
*/

.Visual{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    min-width: 600px;
}
.Visual .rightAlgo{
    float: right;
    width: 40%;
    min-width: 300px;
    overflow: auto;
}

.Visual .leftAlgo{

    float:left;
    width: 40%;
    min-width: 500px;
}

#txtElement{
    width: 100%;
    max-width: 500px;
    height: 20px;
    border: 2px solid gray;
    /*border-radius: 20px;*/
    margin-bottom: 20px;
}

#txtButton{
    margin-bottom: 20px;
}

#stepButton{
    margin-bottom: 20px;
}

#progress{
    margin-bottom: 20px;
}

#progresstext{
    float: left;
    display: inline-block;
    margin-right: 5px;
}

#progressStep{
    -webkit-appearance: none;
    width: 200px;
}

#progressStep[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#progressStep[value]::-webkit-progress-value {
    background-image:
        -webkit-linear-gradient(-45deg, 
        transparent 33%, rgba(0, 0, 0, .1) 33%, 
        rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
        rgba(255, 255, 255, .25), 
        rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#rangebar{
    -webkit-appearance: none;
}

#slideStep {
    -webkit-appearance: none;
    width: 200px;
}

input[type=range]::-webkit-slider-runnable-track {
    background-image:
        -webkit-linear-gradient(-45deg, 
        transparent 33%, rgba(0, 0, 0, .1) 33%, 
        rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
        rgba(255, 255, 255, .25), 
        rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, #09c, #f44);
    height: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
}

#canvasAnimation{
    margin-bottom: 20px;
}

#canvasGraph{
    margin-bottom: 20px;
}
.rectangle {
    float: left;
    display: inline-block;
    height: 15px;
    width: 15px;
}

#note{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.activetab {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 1s;
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

